fastapi[all]
uvicorn
python-dotenv
sqlalchemy
aiosqlite
passlib[bcrypt]
python-jose
aiogram==3.4.1
aiohttp>=3.9.0
requests>=2.31.0
authlib[starlette]
itsdangerous
aiosmtplib
jinja2
pydantic
pywebview>=5.0
paramiko>=3.4.0
psutil>=5.9.0
